.chat-input{
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;


}
.button{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #3dfd56;
  border: none;
  color: #0c0c0c;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.divr{
  display: flex;
}